.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  cursor: pointer;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.home-header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: black;
  font-size: 15px;
}

.home-header a:hover {
  text-decoration: underline;
}

.home-headerright {
  display: flex;
  min-width: 13vw;
  align-items: center;
  justify-content: space-between;
}

.app {
  margin-right: 10px;
  height: 25px;
  width: 35px;
 
}

.user {
  margin-right: 10px;
  height: 40px;
  width: 30px;

}

img {
  width: 600px;
  height: 200px;
  margin-left: 400px;

}
